*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
       background: url("photo.jpg");
       height: 100vh;
    background-size: cover;
}
.btn_one{
    color:white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    
}
.sidebar_menu{
height: 100vh;
width: 200px;
background-color: rgb(43, 41, 41);
box-shadow: 3px 3px 3px 3px rgb(118, 113, 113);
position: absolute;
left:-300px;

}
 .logo{
    text-align: center;
    
   /* padding-top: 10px; */
   position: relative;
   /* left: 40px; */
   top: 20px;
   box-shadow: 1px 1px 3px 3px rgb(103, 96, 96);

    
    
}
a{
    text-decoration:none;
    color: white;
    padding-left: 10px;
    font-size: medium;
    
}
.menu{
    margin-left: 10px;
    padding-top: 40px;
    
    
}
li{
    padding: 10px;
   
    color: white;
}
.social_media  {
   
    position:absolute;
    bottom:10px;
    left: 40px;   
}
.social_media ul a i{
    opacity: 0.5;
}
 .social_media ul a i:hover{
    opacity: 1;
    transform: scale(1.5);
    
}
#check{
    display: none;
}
.btn_two{
    color:white;
    font-size: 20px;
    font-weight: 700;
    position:absolute;
    left: 175px;
    
    line-height: 10px;
    
    

}
.menu ul li:hover{
    box-shadow: 1px 1px 1px 1px rgb(212, 101, 101);
    
}
.btn_two i:hover{
    font-size: 25px;
}
.btn_one i:hover{
font-size: 30px;
}
#check:checked~.sidebar_menu{
    left:0;
       
}